.btn1:hover{
    
        color: #fff !important;
        text-shadow:
        0 0 6px #ca0404	,
        0 0 6px #ca0404	,
        0 0 6px #ca0404	,
        0 0 6px #ca0404	,
        0 0 6px #ca0404	,
        0 0 6px #ca0404	,
        0 0 6px #ca0404	,
        0 0 6px #ca0404	;
          -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
      
}


ul>li>a{
  color: #ffff;
}
      
ul>li>a:hover {
    color: #fff;
    text-shadow:
    0 0 5px #0ff,
    0 0 5px #0ff,
    0 0 5px #0ff,
    0 0 5px #0ff,
    0 0 5px #0ff,
    0 0 5px #0ff,
    0 0 5px #0ff,
    0 0 5px #0ff;
      -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
  }

.navbar{
  background: #0f07ff;
}













  .fa-cart-arrow-down{
      
      position: relative;
      font-size: 30px;
  }
  .fa-cart-arrow-down>p{
    font-size: 11px;
    display: inline-block;
   
      position: absolute;
    right: 11px;
    bottom: 4px;
  }
  
  .fa-cart-arrow-down>p{
    
        color: #fff !important;
        text-shadow:
        0 0 6px #ca0404	,
        0 0 6px #ca0404	,
        0 0 6px #ca0404	,
        0 0 6px #ca0404	,
        0 0 6px #ca0404	,
        0 0 6px #ca0404	,
        0 0 6px #ca0404	,
        0 0 6px #ca0404	;
          -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
      
}