.navbar{
  background: #11008a;
}


ul>li>a{
    color: #ffffff;
    
    
    /* margin-bottom: 20px; */
}


ul>li>a:hover {
    color: #fff;
    text-shadow:
    0 0 5px #0ff,
    0 0 5px #0ff,
    0 0 5px #0ff,
    0 0 5px #0ff,
    0 0 5px #0ff,
    0 0 5px #0ff,
    0 0 5px #0ff,
    0 0 5px #0ff;
      -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
  }

  .sidebar{
    background: #0800ff;
  }
  /* @media screen and (min-width: 768px){
    .sidebar{
      display: inlineblock;
      min-width: 10%;
    }
    .box{
      display: inlineblock;
     min-width: 90%;
    }
  } */